adal==1.2.2
aiohttp==3.7.4
aiohttp-socks==0.5.3
aiorpcX==0.18.5
antlr4-python3-runtime==4.9.1
apispec==5.1.1
apparmor==2.13.6
applicationinsights==0.11.9
APScheduler==3.8.1
argcomplete==1.8.1
asttokens==2.0.5
async-timeout==3.0.1
attrs==20.3.0
autopep8==1.6.0
avro-python3==1.10.1
azure-ai-anomalydetector==3.0.0b2
azure-ai-formrecognizer==3.1.0b2
azure-ai-metricsadvisor==1.0.0b3
azure-ai-textanalytics==5.1.0b4
azure-appconfiguration==1.1.2
azure-applicationinsights==0.1.0
azure-batch==10.0.0
azure-cli==2.18.0
azure-cli-core==2.18.0
azure-cli-telemetry==1.0.6
azure-cognitiveservices-anomalydetector==0.3.0
azure-cognitiveservices-formrecognizer==0.1.1
azure-cognitiveservices-knowledge-qnamaker==0.3.0
azure-cognitiveservices-language-luis==0.7.0
azure-cognitiveservices-language-spellcheck==2.0.0
azure-cognitiveservices-language-textanalytics==0.2.0
azure-cognitiveservices-personalizer==0.1.0
azure-cognitiveservices-search-autosuggest==0.2.0
azure-cognitiveservices-search-customimagesearch==0.2.0
azure-cognitiveservices-search-customsearch==0.3.0
azure-cognitiveservices-search-entitysearch==2.0.0
azure-cognitiveservices-search-imagesearch==2.0.0
azure-cognitiveservices-search-newssearch==2.0.0
azure-cognitiveservices-search-videosearch==2.0.0
azure-cognitiveservices-search-visualsearch==0.2.0
azure-cognitiveservices-search-websearch==2.0.0
azure-cognitiveservices-vision-computervision==0.7.0
azure-cognitiveservices-vision-contentmoderator==1.0.0
azure-cognitiveservices-vision-customvision==3.1.0
azure-cognitiveservices-vision-face==0.4.1
azure-common==1.1.27
azure-communication-administration==1.0.0b4
azure-communication-chat==1.0.0b4
azure-communication-sms==1.0.0b5
azure-core==1.9.1
azure-cosmos==3.1.1
azure-data-tables==12.0.0b4
azure-datalake-store==0.0.51
azure-devops==0.19.0
azure-digitaltwins-core==1.1.0
azure-eventgrid==2.0.0b5
azure-eventhub==5.2.1
azure-eventhub-checkpointstoreblob==1.1.2
azure-eventhub-checkpointstoreblob-aio==1.1.2
azure-functions-devops-build==0.0.22
azure-graphrbac==0.61.1
azure-identity==1.5.1
azure-keyvault==4.1.0
azure-keyvault-administration==4.0.0b3
azure-keyvault-certificates==4.2.2
azure-keyvault-keys==4.3.2
azure-keyvault-secrets==4.2.1
azure-loganalytics==0.1.0
azure-mgmt-advisor==9.0.0b1
azure-mgmt-alertsmanagement==1.0.0b1
azure-mgmt-apimanagement==1.0.0b1
azure-mgmt-appconfiguration==1.0.1
azure-mgmt-applicationinsights==0.3.1
azure-mgmt-appplatform==6.0.0b1
azure-mgmt-attestation==0.2.0
azure-mgmt-authorization==1.0.0
azure-mgmt-automanage==1.0.0b1
azure-mgmt-automation==1.0.0b1
azure-mgmt-azurestack==0.1.0
azure-mgmt-baremetalinfrastructure==1.0.0b1
azure-mgmt-batch==14.0.0b1
azure-mgmt-billing==6.0.0b1
azure-mgmt-botservice==0.2.0
azure-mgmt-cdn==10.0.0b1
azure-mgmt-cognitiveservices==11.0.0b1
azure-mgmt-commerce==6.0.0b1
azure-mgmt-communication==1.0.0b5
azure-mgmt-compute==18.0.0
azure-mgmt-confluent==1.0.0b1
azure-mgmt-consumption==8.0.0b1
azure-mgmt-containerinstance==7.0.0
azure-mgmt-containerregistry==8.0.0b1
azure-mgmt-containerservice==14.0.0
azure-mgmt-core==1.2.3
azure-mgmt-cosmosdb==6.0.0
azure-mgmt-costmanagement==0.2.0
azure-mgmt-customproviders==1.0.0b1
azure-mgmt-databox==1.0.0b1
azure-mgmt-databoxedge==1.0.0b1
azure-mgmt-databricks==1.0.0b1
azure-mgmt-datadog==1.0.0b2
azure-mgmt-datafactory==1.0.0b1
azure-mgmt-datalake-analytics==0.6.0
azure-mgmt-datalake-store==1.0.0b1
azure-mgmt-datamigration==4.0.0
azure-mgmt-datashare==1.0.0b1
azure-mgmt-deploymentmanager==1.0.0b1
azure-mgmt-devspaces==0.2.0
azure-mgmt-devtestlabs==9.0.0b1
azure-mgmt-digitaltwins==0.1.0
azure-mgmt-dns==3.0.0
azure-mgmt-documentdb==0.1.3
azure-mgmt-edgegateway==0.1.0
azure-mgmt-eventgrid==8.0.0b1
azure-mgmt-eventhub==8.0.0
azure-mgmt-frontdoor==0.3.0
azure-mgmt-hanaonazure==1.0.0b1
azure-mgmt-hdinsight==7.0.0b1
azure-mgmt-healthcareapis==1.0.0b1
azure-mgmt-hybridcompute==7.0.0b1
azure-mgmt-hybridkubernetes==0.1.0
azure-mgmt-imagebuilder==0.4.0
azure-mgmt-iotcentral==3.0.0
azure-mgmt-iothub==1.0.0b1
azure-mgmt-iothubprovisioningservices==0.2.0
azure-mgmt-keyvault==8.0.0
azure-mgmt-kubernetesconfiguration==0.2.0
azure-mgmt-kusto==1.0.0b1
azure-mgmt-labservices==1.0.0b1
azure-mgmt-loganalytics==7.0.0b1
azure-mgmt-logic==9.0.0b1
azure-mgmt-machinelearningcompute==0.4.1
azure-mgmt-machinelearningservices==1.0.0b1
azure-mgmt-maintenance==1.0.0b1
azure-mgmt-managedservices==6.0.0b1
azure-mgmt-managementgroups==0.2.0
azure-mgmt-managementpartner==0.1.1
azure-mgmt-maps==1.0.0b1
azure-mgmt-marketplaceordering==1.0.0b1
azure-mgmt-media==2.2.0
azure-mgmt-mixedreality==0.1.0
azure-mgmt-monitor==1.0.1
azure-mgmt-msi==1.0.0
azure-mgmt-netapp==1.0.0b1
azure-mgmt-network==17.0.0
azure-mgmt-notificationhubs==7.0.0b1
azure-mgmt-operationsmanagement==1.0.0b1
azure-mgmt-peering==1.0.0b1
azure-mgmt-policyinsights==1.0.0b1
azure-mgmt-powerbidedicated==1.0.0b1
azure-mgmt-powerbiembedded==2.0.0
azure-mgmt-privatedns==0.1.0
azure-mgmt-rdbms==8.0.0b1
azure-mgmt-recoveryservices==1.0.0b1
azure-mgmt-recoveryservicesbackup==0.7.0
azure-mgmt-redhatopenshift==0.1.0
azure-mgmt-redis==12.0.0
azure-mgmt-regionmove==1.0.0b1
azure-mgmt-relay==1.0.0b1
azure-mgmt-reservations==0.7.0
azure-mgmt-resource==16.0.0
azure-mgmt-resourcegraph==7.0.0b1
azure-mgmt-resourcemover==1.0.1b1
azure-mgmt-scheduler==7.0.0b1
azure-mgmt-search==8.0.0b1
azure-mgmt-security==1.0.0b1
azure-mgmt-securityinsight==1.0.0b1
azure-mgmt-serialconsole==0.1.0
azure-mgmt-servermanager==2.0.0
azure-mgmt-servicebus==6.0.0
azure-mgmt-servicefabric==0.4.0
azure-mgmt-signalr==1.0.0b1
azure-mgmt-sql==1.0.0
azure-mgmt-sqlvirtualmachine==0.5.0
azure-mgmt-storage==16.0.0
azure-mgmt-storagecache==0.3.0
azure-mgmt-storageimportexport==0.1.0
azure-mgmt-storagesync==0.2.0
azure-mgmt-streamanalytics==1.0.0rc1
azure-mgmt-subscription==1.0.0b1
azure-mgmt-support==6.0.0b1
azure-mgmt-synapse==0.2.0
azure-mgmt-timeseriesinsights==0.2.0
azure-mgmt-trafficmanager==0.51.0
azure-mgmt-vmwarecloudsimple==0.2.0
azure-mgmt-web==1.0.0
azure-mgmt-workloadmonitor==1.0.0b2
azure-multiapi-storage==0.5.2
azure-schemaregistry==1.0.0b2
azure-schemaregistry-avroserializer==1.0.0b2
azure-search-documents==11.1.0b5
azure-servicebus==7.0.1
azure-servicefabric==7.2.0.46
azure-servicemanagement-legacy==0.20.7
azure-synapse==0.1.0
azure-synapse-accesscontrol==0.4.0
azure-synapse-artifacts==0.4.0
azure-synapse-managedprivateendpoints==0.1.0
azure-synapse-monitoring==0.1.0
azure-synapse-spark==0.4.0
azure-template==0.0.18b3
backcall==0.2.0
bcrypt==3.1.7
bitstring==3.1.7
black==22.1.0
blinker==1.4
cachetools==5.0.0
certifi==2021.10.8
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.0.11
click==8.0.3
colorama==0.4.4
configobj==5.0.6
cryptography==3.3.2
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.16
debugpy==1.6.0
decorator==5.1.1
distlib==0.3.4
distro==1.5.0
distro-info==1.0
dnspython==2.0.0
docker==6.0.0
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
Electrum==4.0.9
entrypoints==0.4
executing==0.8.3
fabric==2.5.0
filelock==3.4.2
flasgger==0.9.5
Flask==2.0.2
Flask-Cors==3.0.10
flask-crontab==0.1.2
Flask-HTTPAuth==3.2.4
flask-marshmallow==0.14.0
fonttools==4.33.3
fuse-python==1.0.2
google-api-core==2.7.1
google-api-python-client==2.40.0
google-auth==2.6.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.0
googleapis-common-protos==1.55.0
gpg===1.14.0-unknown
greenlet==1.1.2
helpdev==0.7.1
httplib2==0.20.4
humanfriendly==9.1
idna==3.3
invoke==1.4.1
ipykernel==6.13.0
ipython==8.3.0
isodate==0.6.0
itsdangerous==2.0.1
javaproperties==0.7.0
jedi==0.18.1
jeepney==0.6.0
Jinja2==3.0.3
jmespath==0.10.0
jsmin==2.2.2
jsondiff==1.1.1
jsonschema==3.2.0
jupyter-client==7.3.0
jupyter-core==4.10.0
keyring==22.0.1
kiwisolver==1.4.2
knack==0.8.0rc2
LibAppArmor==2.13.6
libevdev==0.5
MarkupSafe==2.0.1
marshmallow==3.15.0
marshmallow-enum==1.5.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
meson==0.56.2
microsoft-opentelemetry-exporter-azuremonitor==1.0.0b1
mistune==2.0.2
mock==4.0.3
msal==1.9.0
msal-extensions==1.0.0
msgpack==1.0.0
msrest==0.6.21
msrestazure==0.6.2
multidict==5.1.0
mutagen==1.45.1
mypy==0.961
mypy-extensions==0.4.3
nest-asyncio==1.5.5
numpy==1.22.2
nyx==2.1.0
oauthlib==3.2.0
olefile==0.46
onboard==1.4.1
onioncircuits==0.7
onionshare==2.2
packaging==20.9
pandas==1.4.1
paramiko==2.7.2
parso==0.8.3
pathspec==0.9.0
pbr==5.5.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.2
pkginfo==1.4.2
platformdirs==2.4.1
ply==3.11
portalocker==2.2.1
prompt-toolkit==3.0.29
protobuf==3.19.4
psutil==5.8.0
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycodestyle==2.8.0
pycountry==20.7.3
pycparser==2.20
pycryptodomex==3.9.7
pycups==2.0.1
pycurl==7.43.0.6
Pygments==2.12.0
PyGObject==3.38.0
pyinotify==0.9.6
PyJWT==2.3.0
pylibacl==0.6.0
PyNaCl==1.4.0
pynvim==0.4.2
pyOpenSSL==20.0.1
pyparsing==3.0.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyrsistent==0.18.1
PySimpleSOAP==1.16.2
pysmbc==1.0.23
PySocks==1.7.1
python-apt==2.2.1+parrot1
python-dateutil==2.8.2
python-debian==0.1.39
python-debianbts==3.1.0
python-dotenv==0.19.2
python-http-client==3.3.5
python-xapp==2.0.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pyudev==0.22.0
pyxattr==0.7.2
PyYAML==5.4.1
pyzmq==22.3.0
QDarkStyle==2.8.1
qrcode==6.1
QtPy==1.9.0
razorpay==1.2.0
reportbug==7.10.3+deb11u1
requests==2.27.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rsa==4.8
scp==0.13.0
SecretStorage==3.3.1
sendgrid==6.9.5
setproctitle==1.2.1
sib-api-v3-sdk==7.3.0
simplejson==3.17.2
six==1.16.0
SQLAlchemy==1.4.31
sshtunnel==0.1.4
stack-data==0.2.0
starkbank-ecdsa==2.0.3
stem==1.8.0
systemd-python==234
tabulate==0.8.7
terminator==2.1.0
texttable==1.6.4
toml==0.10.2
tomli==2.0.1
torbrowser-launcher==0.3.3
tornado==6.1
traitlets==5.1.1
typing-extensions==4.1.1
tzdata==2021.5
tzlocal==4.1
uamqp==1.2.13
ufw==0.36
unattended-upgrades==0.1
uritemplate==4.1.1
urllib3==1.26.8
virtualenv==20.13.0
vsts-cd-manager==1.0.2
wcwidth==0.2.5
websocket-client==0.57.0
Werkzeug==2.0.2
xmltodict==0.12.0
yarl==1.6.3
youtube-dl==2021.6.6
